html,
body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --black: #3b434e;
  --white: #fff;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
  --gray-dark: #6c7077;
  --gray: #a4a4a4;
  --gray-light: #e5e5e5;
  --background: #f5f6f8;
  --font-family: "Noto Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}